

<%- partial('partials/header') %>

<div id="<%= page.template ? 'page-' + page.template : '' %>" class="page">
  <% if (page.template) { %>
    <%- partial('pages/' + page.template) %>
  <% } else { %>
    <div class="container">
      <%- page.content %>
    </div>
  <% } %>
</div>
