

<div style="background-color: #eee; height: 200px; border: 3px dashed #aaa"></div>

<div id="<%= page.template ? 'page-' + page.template : '' %>" class="page">
  <% if (page.template) { %>
    <%- partial('pages/' + page.template) %>
  <% } else { %>
    <div class="container">
      <%- page.content %>
    </div>
  <% } %>
</div>
