<h1>Expériences professionnelles</h1>

<div class="cv-item">
  <h2>Ingénieur Développeur Web</h2>
  <h4 class="color-gray">[depuis Octobre 2016]</h4>
  <small class="color-primary">SII | Rennes (35)</small>

  <div class="grid">
    <div class="grid-item m-3">
      <div class="box">
        <h3>Mission #3</h3>
        <small class="color-gray">Orange WebTV | Rennes (35)</small>
        <h4 class="color-gray">[depuis Avril 2017]</h4>
        <p>Maintenance évolutive - Conception architechture logiciel - Mise en oeuvre d'un nouveau portail web à trafique important</p>
        <div class="cv-item-tags">
          <span class="tag-item bg-orange color-white">HTML5</span>
          <span class="tag-item bg-blue color-white">CSS3</span>
          <span class="tag-item bg-yellow color-white">Javascript</span>
          <span class="tag-item bg-red color-white">DojoJs</span>
          <span class="tag-item bg-green color-white">VueJs</span>
        </div>
      </div>
    </div>

    <div class="grid-item m-3">
      <div class="box">
        <h3>Mission #2</h3>
        <small class="color-gray">La boutonnière | Rennes (35)</small>
        <h4 class="color-gray">[Février - Mars 2017]</h4>
        <p>Refonte d'un module 3D interactif</p>
        <div class="cv-item-tags">
          <span class="tag-item bg-orange color-white">HTML5</span>
          <span class="tag-item bg-blue color-white">CSS3</span>
          <span class="tag-item bg-yellow color-white">Javascript</span>
          <span class="tag-item bg-red color-white">WebGL</span>
        </div>
      </div>
    </div>

    <div class="grid-item m-3">
      <div class="box">
        <h3>Mission #1</h3>
        <small class="color-gray">AMDocs | Rennes (35)</small>
        <h4 class="color-gray">[Novembre 2016 - Février 2017]</h4>
        <p>Maintenance d'une application mobile hybride pour le compte d'un opérateur téléphonique péruvien, en collaboration avec des développeurs étrangers (Pérou, Inde, USA, Israël)</p>
        <div class="cv-item-tags">
          <span class="tag-item bg-orange color-white">HTML5</span>
          <span class="tag-item bg-blue color-white">CSS3</span>
          <span class="tag-item bg-yellow color-white">Javascript</span>
          <span class="tag-item bg-red color-white">AngularJs 1.5</span>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="cv-item">
  <h2>Concepteur Développeur</h2>
  <h4 class="color-gray">[Septembre 2015 - Septembre 2016]</h4>
  <small class="color-primary">Dolmen Technologies | Rennes (35)</small>
  <p>Alternance pendant ma formation de Master 2 "Chef de projet numérque" à l'IMIE de Rennes. Maintenance de code et conception de nouvelles fonctionnalités pour les produits de Dolmen Technologies.</p>
  <div class="cv-item-tags">
    <span class="tag-item bg-orange color-white">HTML5</span>
    <span class="tag-item bg-blue color-white">CSS3</span>
    <span class="tag-item bg-yellow color-white">Javascript</span>
    <span class="tag-item bg-blue color-white">BackboneJs</span>
    <span class="tag-item bg-red color-white">MarionetteJs</span>
    <span class="tag-item bg-violet color-white">PHP 5</span>
    <span class="tag-item bg-blue color-white">Drupal 7</span>
  </div>
</div>

<hr>

<div class="cv-item">
  <h2>Stage ingénieur</h2>
  <h4 class="color-gray">[avril - août 2014]</h4>
  <small class="color-primary">Enensys Technologies | Rennes (35)</small>
  <p>Développement d’une interface graphique complexe et dynamique en HTML5 pour remplacement des interfaces existantes développées en FLASH. (Proof of concep)</p>
  <div class="cv-item-tags">
    <span class="tag-item bg-orange color-white">HTML5</span>
    <span class="tag-item bg-blue color-white">CSS3</span>
    <span class="tag-item bg-yellow color-white">Javascript</span>
    <span class="tag-item bg-red color-white">AngularJs 1.3</span>
  </div>
</div>

<hr>

<div class="cv-item">
  <h2>Stage assistant ingénieur</h2>
  <h4 class="color-gray">[avril - août 2014]</h4>
  <small class="color-primary">Citédia | Rennes (35)</small>
  <p>Mise en oeuvre de la première version de l'intranet de l'entreprise</p>
  <div class="cv-item-tags">
    <span class="tag-item bg-violet color-white">PHP5</span>
    <span class="tag-item bg-blue color-white">CSS3</span>
    <span class="tag-item bg-gray color-white">Wordpress</span>
  </div>
</div>
