<h1 id="training">
  <a href="#training" class="headerlink"></a>Formations
</h1>

<div class="cv-item">
  <h2>Master 2 - Chef de projet en conception de systèmes informatiques</h2>
  <h4 class="color-gray">[Septembre 2015 - Septembre 2016]</h4>
  <small class="color-primary">IMIE | Rennes (35)</small>
  <p>Master 2 en alternance dans le domaine de l'informatique.</p>
  <div class="cv-item-tags">
    <span class="tag-item bg-blue color-white">Développement</span>
    <span class="tag-item bg-red color-white">Management</span>
    <span class="tag-item bg-orange color-white">Systèmes &amp; réseau</span>
  </div>
</div>

<hr>

<div class="cv-item">
  <h2>Diplôme d'ingénieur - généraliste</h2>
  <h4 class="color-gray">[Septembre 2009 - Juin 2014]</h4>
  <small class="color-primary">ENIB | Brest (29)</small>
  <p>Orientation personnelle vers l’informatique après 2 modules Informatiques à l’école.</p>
  <div class="cv-item-tags">
    <span class="tag-item bg-orange color-white">Informatique</span>
    <span class="tag-item bg-violet color-white">Electronique</span>
    <span class="tag-item bg-yellow color-white">Mécatronique</span>
  </div>
</div>

<hr>

<div class="cv-item">
  <h2>Baccalauréat STI - génie électrotechnique</h2>
  <h4 class="color-gray">[2005 - 2009]</h4>
  <small class="color-primary">Lycée Brequigny | Rennes (35)</small>
  <p>Baccalauréat Sciences et Technologies Industrielles génie électrotechnique. <b>Mention Bien</b></p>
  <div class="cv-item-tags">
    <span class="tag-item bg-red color-white">Informatique industrielle</span>
    <span class="tag-item bg-green color-white">Energies renouvelables</span>
  </div>
</div>
