#herozone
  padding: 4rem 0 2rem
  overflow: hidden // because of the avatar shadow

  h1
    margin: 0

  p
    padding-bottom: 1.5em

  @media (min-width: $medium)
    padding: 8rem 0 2rem

    h1
      font-size: 3rem

  .avatar-container
    position: relative
    border: .5rem solid $green
    border-radius: 50%
    margin: 0 auto
    text-align: center
    box-shadow: 0 0 10rem rgba($black, .5)
    max-width: 10rem

    @media (min-width: $medium)
      max-width: 20rem
      border: .75rem solid $gray
      &:hover
        .avatar-bubble
          opacity: 1
          transform: scale(1)

    img
      display: block
      width: 100%
      border-radius: 50%
      border: .25rem solid $white

    .avatar-bubble
      display: none

    @media (min-width: $medium)
      .avatar-bubble
        display: block
        z-index: 1
        background-color: $white
        position: absolute
        top: 1rem
        right: -1rem
        font-size: 1.25rem
        padding: 1em
        text-align: center
        font-weight: bold
        border-radius: 50%
        box-shadow: 0 0 .5rem rgba($black, .5)
        opacity: 0
        transform: scale(0)
        transition: all .3s cubic-bezier(0.7, -0.7, 0.5, 1.5)

        &:after
          content: ""
          position: absolute
          left: 5%
          bottom: 5%
          width: 0
          height: 0
          border: 1rem solid transparent
          border-bottom-color: $white


