<header id="page-header">
  <div class="container">
    <h1><%= titlecase(page.title) %></h1>

    <% if(page.author) { %>
      <small><b><%= page.author %></b></small>
    <% } %>

    <% if(is_post() && page.date) { %>
      <small>le <%= date(page.date, 'DD/MM/YYYY') %></small>
    <% } %>
  </div>
</header>
