<%
  var header_img_url = page.featured_image ? page.featured_image.replace('.html', '/') : theme.default_header_img
  var title = title || page.title || ''
%>

<header id="page-header">
  <div class="header-background" style="background-image: url(<%= header_img_url %>)"></div>
  <div class="container pop pop-bottom">
    <h1><%= titlecase(title) %></h1>

    <% if (page.author) { %>
      <small><b><%= page.author %></b></small>
    <% } %>

    <% if (is_post() && page.date) { %>
      <small>le <%= date(page.date, 'DD/MM/YYYY') %></small>
    <% } %>

  </div>
</header>
