header#page-header
  position: relative
  color: $white
  text-shadow: 0 0 .2em rgba($black, .5)
  padding: 6rem 0 2rem
  overflow: hidden

  @media (min-width: $medium)
    padding: 8rem 0 2rem

  .header-background
    position: absolute
    top: -1rem
    left: -1rem
    width: calc(100% + 2rem)
    height: calc(100% + 2rem)
    background:
      color: $gray-lighter
      repeat: no-repeat
      size: cover
      position: center center
    filter: blur(.25rem) brightness(.75)

  .container
    position: relative

  h1
    font-size: 2.5rem
    margin: 0
