button.btn,
a.btn
  border: none
  display: inline-block
  padding: .75em 1.5em .55em
  font-variant: small-caps
  font-weight: bold
  cursor: pointer

  &:not(.btn-link)
    border-radius: .25em
    text-decoration: none
    box-shadow: .25em .5em 2em rgba($black, .2)
    transition: box-shadow .3s

    &:hover
      box-shadow: 0 .5em 2em rgba($black, .3)

  &.btn-sm
    font-size: .6em

  &.icon-left
    .icon
      margin: 0 .5em 0 -0.5em

  &.icon-right
    .icon
      margin: 0 -.5em 0 .5em
