button.btn,
a.btn
  border: none
  display: inline-block
  padding: .75em 1.5em .55em
  font-variant: small-caps
  font-weight: bold
  cursor: pointer
  background-image: $primary-gradient
  text-shadow: none

  &:not(.btn-link)
    border-radius: .25em
    text-decoration: none
    box-shadow: .25em .5em 2em rgba($black, .2)
    transition: box-shadow .3s

    &:hover
      box-shadow: 0 .5em 2em rgba($black, .3)

  &.btn-link
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

  &.btn-sm
    font-size: .6em

  &.btn-border
    border: 2px solid transparent
    background: linear-gradient(var(--white), var(--white)) padding-box, $primary-gradient border-box
    box-shadow: none

    &:hover
      background: $primary-gradient border-box
      color: $white

  &.icon-left,
  &.icon-right
    position: relative
    .icon
      position: absolute
      top: 50%
      transform: translateY(-50%)
      line-height: 1

  &.icon-left
    padding-left: 3rem

    .icon
      left: 1rem

  &.icon-right
    padding-right: 3rem
    .icon
      right: 1rem
