<div class="container">

  <%- page.content %>

  <ul>
    <% site.posts.forEach(post => { %>
      <li>
        <a href="<%= url_for(post.path) %>">
          <%= post.title %>
        </a>
      </li>
    <% }) %>
  </ul>
</div>
