<div class="container">

  <p>
    <%- link_to('/blog', '<< Retour aux articles', {class: "btn btn-link"}) %>
  </p>

  <%- list_tags({
      style: 'none',
      separator: ' ',
      class: 'btn btn-sm btn-border border-primary margined ',
      show_count: false
    }) %>

</div>
