<div class="container">

  <%- list_tags({
      style: 'none',
      separator: ' ',
      class: 'btn btn-sm btn-border border-white color-white',
      show_count: false
    }) %>

    <p>
      <%- link_to('/blog', '<< Tous les articles', {class: "btn btn-link"}) %>
    </p>

</div>
