//// normalize overrides

$base-font-family: "Raleway", sans-serif
$indent-amount: 2em
$base-font-size: 16px


//// my variables

// Colors
$black: #000
$gray-dark: lighten($black, 30%)
$gray: lighten($black, 60%)
$gray-light: lighten($black, 90%)
$white: #fff

$green: #16a085
$blue: #2980b9
$violet: #8e44ad
$yellow: #f1c40f
$orange: #e67e22
$red: #c0392b

// Fonts
$title-font: "Jaldi", sans-serif
$text-font: "Raleway", serif

// Sizes
$container-width: 768px

// Breakpoints
$xx-large: 1440px
$x-large: 1224px
$large: 1024px
$medium: 768px
$small: 480px
$x-small: 320px

// Grid
$gutter: .5rem