<header id="herozone" class="bg-gray-lighter has-triangle-after">
  <div class="container">
    <div class="grid">
    <div class="grid-item m-2">
      <div class="box pop pop-right">
        <div class="avatar-container">
          <img src="/images/benjamin.jpg" alt="Benjamin Caradeuc">
          <div class="avatar-bubble">
            Bonjour!
          </div>
        </div>
      </div>
    </div>

      <div class="grid-item m-2 m-first">
        <div class="box pop pop-left">
          <h1>
            Ingénieur web
            <br>
            Lead Développeur
          </h1>

          <p class="color-gray font-bold">
            Bonjour! Je suis Benjamin Caradeuc.
          </p>

          <p class="color-gray font-bold">
            Développeur web passioné, spécialisé dans les technologies front-end.
          </p>

          <div class="cta-wrapper">
            <a href="/contact" class="btn bg-primary color-white icon-left">
              <%- partial('../../components/icone.ejs', { name: 'mail', color: '#fff' }) %>
              Me contacter
            </a>

            <a href="/about" class="btn btn-link">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
