<header id="herozone" class="bg-gray-lighter">
  <div class="container">
    <div class="grid">
    <div class="grid-item m-2">
      <div class="box">
        <div class="avatar-container">
          <img src="/images/benjamin.jpg" alt="Benjamin Caradeuc">
          <div class="avatar-badge">
            BC
          </div>
        </div>
      </div>
    </div>

      <div class="grid-item m-2 m-first">
        <div class="box">
          <h1>Ingénieur Web<br>Lead Dévelopeur</h1>

          <p class="color-gray font-bold">
            Développeur passioné spécialisé dans les technologies front-end, j'ai également un gout prononcé pour l'intégration de beaux designs.
          </p>

          <a href="/contact" class="btn bg-primary color-white">Me contacter</a>

          <a href="/about" class="btn btn-link">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</header>
